# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    50-server.cnf                                      :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: svogrig <svogrig@student.42.fr>            +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/06/17 15:06:22 by svogrig           #+#    #+#              #
#    Updated: 2025/06/17 15:06:33 by svogrig          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
datadir = /var/lib/mysql
socket  = /run/mysqld/mysqld.sock
bind_address=*
port = 3306
user = mysql